
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물</title>
    {% load static %}
    <link href="{% static 'css/posted.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9483ff595.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap"
        rel="stylesheet">
    <style>
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .out-top {
            animation: rotate 20s linear infinite;
            transform-origin: 13px 25px;
        }

        .in-top {
            animation: rotate 10s linear infinite;
            transform-origin: 13px 25px;
        }

        .out-bottom {
            animation: rotate 25s linear infinite;
            transform-origin: 84px 93px;
        }

        .in-bottom {
            animation: rotate 15s linear infinite;
            transform-origin: 84px 93px;
        }
    </style>
</head>

{% block content %}
<body style="background-color:  rgb(244, 247, 208);">
    <svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">

        <path fill="#D8D8D8" class="out-top"
            d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z" />
        <path fill="#A4A4A4" class="in-top"
            d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z" />
        <path fill="#F2F2F2" class="out-bottom"
            d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z" />
        <path fill="#E6E6E6" class="in-bottom"
            d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z" />
    </svg>

    <nav>
        <span class=""><a href="#"><img src="{% static 'img/logo-notStr.png' %}" alt="logoImage"></a></span>
        <span class="web-name">EYE CONTACT</span>
        <div class="toggle">
            <!--주의 폰트어썸 링크 head에 추가 필요  -->
            <i class="fa fa-bars menu" aria-hidden="true"></i>
        </div>
        <ul>
            <li><a href="{% url 'web:main1' %}">홈</a></li>
            <li><a href="#">매칭</a></li>
            <li><a href="{% url 'board:community' %}">커뮤니티</a></li>
            <li><a href="#">마이페이지</a></li>
        </ul>
    </nav>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu').click(function () {
                $('ul').toggleClass('active');
            })
        })
    </script>
    <div class="layout">
        <div class="container">

        </div>
        <div class="phone">

            <div class="menu">
                <div class="time">4:20</div>
                <div class="icons">
                    <div class="network"></div>
                    <div class="battery"></div>

                </div>

            </div>

            <div class="phone-header">
                <span class="user">{{ post_author }}</span>
                <span class="rewrite" title="수정하기">
                    <a href="{% url 'board:post_update' pk=post_id %}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </span>

                <span class="remove-post" title="삭제하기">
                    <a href="{% url 'board:post_delete' pk=post_id %}">
                    <i class="fa-solid fa-trash"></i>
                    </a>
                </span>

                <span class="report-2" title="신고하기">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                </span>


                <!-- 0817 수정 -1 -->
                <div>
                    <audio class="audio-player">
                        <source src="/mp3/신고하기.mp3" type="audio/mpeg">
                        지원되지 않는 브라우저입니다
                    </audio>
                    <audio class="audio-player3">
                        <source src="/mp3/삭제하기.mp3" type="audio/mpeg">
                        지원되지 않는 브라우저입니다
                    </audio>
                    <audio class="audio-player4">
                        <source src="/mp3/수정하기.mp3" type="audio/mpeg">
                        지원되지 않는 브라우저입니다
                    </audio>
                </div>


            </div>

            <script>
                const hoverTrigger = document.querySelector('.fa-triangle-exclamation');
                const audioPlayer = document.querySelector('.audio-player');

                hoverTrigger.addEventListener('mouseover', () => {
                    audioPlayer.play();
                });

                const hoverTrigger3 = document.querySelector('.fa-solid.fa-trash');
                const audioPlayer3 = document.querySelector('.audio-player3');

                hoverTrigger3.addEventListener('mouseover', () => {
                    audioPlayer3.play();
                });


                const hoverTrigger4 = document.querySelector('.fa-pen');
                const audioPlayer4 = document.querySelector('.audio-player4');

                hoverTrigger4.addEventListener('mouseover', () => {
                    audioPlayer4.play();
                });

            </script>
          <!-- 0817 수정 -1 끝 -->

            <div class="scroll-container-1">
                <span class="content">
                    <p>{{ post_contents }}
                        <!-- css 값을 초과하면 스크롤이 생깁니다 테스트를 위해 주절주절
                            길게 적어보고 있어요 해커톤 파이팅 아이디얼 파이팅
                            우리 팀 파이팅 행복하세요 잘 되는 거 같네요
                            확인하시려면 이 주석을 풀면 됩니다-->
                    </p>

                </span>


            </div>
            <div class="line-1"></div>
            <!-- 댓글 시작 -->
            <div class="comment">
                {% for comment in comments %}
                <!-- 댓글 추가 시 여기서부터 -->
                <div class="comment-header">
                    <span class="user-name">{{ comment.author }}</span>
                    {% if comment.author == request.user %}
                    <span class="rewrite-2" title="수정하기">
                        <a href="{% url 'board:cm-update' pk=comment.pk  %}">
                        <i class="fa-solid fa-pen"></i>
                        </a>
                    </span>

                    <span class="remove-post-2" title="삭제하기">
                        <a href="{% url 'board:cm-delete' pk=comment.pk  %}">
                        <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
                    {% endif %}

                    <span class="report-2" title="신고하기">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </span>
                </div>

                <div class="comment-body">
                    <!--왜 저는.. comment_content로 하면 댓글이 안 뜰까요..?ㅎㅎ-->
                    <div class="user-comment">{{ comment.content }}</div>
                    <div class="line-2"></div>
                </div>
                {% endfor %}



                <!-- 여기까지를 반복하면 됩니다
                .comment 안에서 움직이면 됩니당 -->


            </div>


            <!-- 댓글 끝 -->
            <form action="{% url 'board:cm-write' pk=post_id %}" method="post">
                <span><textarea name="{{ comment_form.content.name }}" id="input-comment" placeholder="댓글을 작성해 주세요"></textarea></span>
                <span><input id="send" type="submit" value="작성"></span>

            </form>




        </div>

        <div class="popup">
            <div class="content">
                <p>&nbsp;신고하시겠습니까?</p>
                <div class="field">
                    <form action="{% url 'board:given_warning' pk=post_id %}" method="POST">
                    <button class="btn1">아니오</button>
                        {% csrf_token %}
                        <button class="btn2" type="submit">네</button>
                    </form>
                </div>
            </div>
        </div>



        <!-- 0817 수정 -2-->
        <script>
            const viewBtn1 = document.querySelector(".report-2"),
                  viewBtn2 = document.querySelector(".report"),
                  popup = document.querySelector(".popup"),
                  close = popup.querySelector(".btn1"),
                  field = popup.querySelector(".field"),
                  input = field.querySelector("input"),
                  copy = field.querySelector(".btn2");

            viewBtn1.onclick = () => {
                popup.classList.toggle("show");
            }
            viewBtn2.onclick = () => {
                popup.classList.toggle("show");
            }
            close.onclick = () => {
                popup.classList.remove("show");
            }

            copy.onclick = () => {
                input.select();
                if (document.execCommand("copy")) {
                    field.classList.add("active");
                    copy.innerText = "Copied";
                    setTimeout(() => {
                        window.getSelection().removeAllRanges();
                        field.classList.remove("active");
                        copy.innerText = "네";
                    }, 3000);
                }
            }
        </script>
        <!-- 0817 수정 -2 끝 -->



        <footer></footer>

    </div>
</body>
{% endblock %}
</html>