
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}delete post{% endblock %}</title>
</head>

<body>
  <form method="post">
    {% csrf_token %}
    <div class="alert alert-danger">{{object.title}} 를 삭제할까요?<div>
    <input type="submit" class="btn btn-info btn-sm" value="delete">
  </form>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
</head>
<body>
{% block content %}
    <div class="container">
        <h1>묻고 답해요</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post_title }}</h5>

                        {% if user.is_authenticated and user.username == post_author %}
                        <!-- "글 수정하기" 링크 추가 -->
                        <h3><a href="{% url 'board:post_update' pk=post_id %}">글 수정하기</a></h3>
                        <h3><a href="{% url 'board:post_delete' pk=post_id %}">글 삭제하기</a></h3>
                        {% endif %}
                        <p class="card-text">{{ post_author }}</p>
                        <p class="card-text">{{ post_contents }}</p>

                        <a href="{% url 'board:post_list' %}" class="btn btn-primary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Comment</h3>
    <form action="{% url 'board:cm-write' pk=post_id %}" method="post">
        {% csrf_token %}
        {% if comment_form.errors %}
            {% with form=comment_form %}
                {% include 'board/form_error.html' %}
            {% endwith %}
        {% else %}
            {{ comment_form.content }}
        {% endif %}
        <input type="submit" value="댓글달기">
    </form>
    <br>

    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.content}} / {{ comment.author}}
                    {% if user.is_authenticated and comment.author == user.username %}
                    <form action="{% url 'board:cm-delete' pk=comment.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="삭제" class="btn">
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>댓글이 없습니다.</p>
    {% endif %}
{% endblock %}
</body>
</html>
