<!DOCTYPE html>

<html lang="en">

<head>
     <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    {% block script %}
    {% endblock %}

    {% block style %}
    @media (min-width:220px) and (max-width:964px) {
  .toggle{
      display: block;
  }
  ul{
      width: 100%;
      display: none;
  }
  ul li{
      display: block;
      text-align: center;
  }
  .active{
      display: block;
  }
}


nav {
  width: 100%;
  background: rgb(255, 255, 255);
}

ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*  리스트 간 간격 좀 더 늘렸습니다 */
ul li {
  list-style: none;
  display: inline-block;
  padding: 30px;
}

/*
  수정 필요
  ul li:hover{
  background-color: rgb(127, 127, 127);
  border-radius: 10px;
} */

ul li a {
/* 색상은 각자 페이지에 맞게 자유로이 */
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.toggle {
  width: 100%;
  padding: 20px 30px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 32px;
  display: none;
}

/*  웹 로고 + 서비스 명 스타일 추가*/
.web-name{
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
nav span:first-child {
  margin-left: 5%;
}

nav span{
  float: left;
}


nav span img{
  width: 100px;
  padding: 10px;
}
    {% endblock %}
</head>



<body>
<nav>
        <span class=""><a href="#"><img src="{% static 'img/logo-notStr.png' %}" alt="logoImage" ></a></span>
        <span class="web-name">EYE CONTACT</span>
      <div class="toggle">
			<!--주의 폰트어썸 링크 & 제이쿼 head에 추가 필요  -->

          <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <ul>
          <li><a href="{% url 'board:home' %}">홈</a></li>
          <li><a href="{% url 'board:matching' %}">매칭</a></li>
          <li><a href="{% url 'board:community' %}">커뮤니티</a></li>
          <li><a href="#">마이페이지</a></li>
      </ul>
  </nav>

<script type="text/javascript">
      $(document).ready(function(){
          $('.menu').click(function(){
              $('ul').toggleClass('active');
          })
      })
  </script>





{% block content %}
{% endblock %}

</body>
</html>