<!DOCTYPE html>
<html>
<head>
    <title>Review Page</title>
</head>
<body>
    <h1>Review Page</h1>
    <form method="post">
        {% csrf_token %}
        <label><input type="checkbox" name="rating_increase" value="1"> 알기 쉽게 가르쳐 주세요 </label><br>
        <label><input type="checkbox" name="rating_increase" value="2"> 천천히 말씀해 주세요</label><br>
        <label><input type="checkbox" name="rating_increase" value="3"> 시간을 잘 지켜요</label><br>

        <label><input type="checkbox" name="rating_decrease" value="1"> 설명이 부족해요</label><br>
        <label><input type="checkbox" name="rating_decrease" value="2"> 약속 시간을 잘 지키지 않았어요</label><br>
        <label><input type="checkbox" name="rating_decrease" value="3"> 말이 조금 빨라요</label><br>

        <button type="submit">Submit Review</button>
    </form>
</body>
</html>
